.shop-container {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(30, 30, 30);

    translate: -100% 0;

    transition-property: translate;

    transition-duration: 0.3s;

    transition-timing-function: ease-out;
}

.shop-container--open {
    translate: 0 0;
}

.shop-container > Button {
    margin: 10px;
}